fastapi
uvicorn[standard]
gunicorn
a2wsgi
langchain==0.3.25
langchain-community==0.3.24
langchain-huggingface==0.1.2
chromadb
sentence-transformers
langchain-groq==0.3.2
python-dotenv
pydantic
langchain-text-splitters==0.3.8